# Data
polars
pandas
pyarrow
yfinance

# Custom packages (view: https://github.com/William-Kruta to learn more)
yahoors
secrs
insidertracker
geckors
macrotracker
etftracker



# Web
requests
beautifulsoup4
lxml
ddgs
# Helpers 
tqdm
